mkdocs-material>=9.4.6
mkdocs-git-revision-date-localized-plugin>=1.2.0
mkdocs-minify-plugin>=0.7.1
mkdocs-redirects>=1.2.1
mkdocs-awesome-pages-plugin>=2.9.2
pymdown-extensions>=10.3
mkdocs-pdf-export-plugin>=0.5.10
mkdocs-swagger-ui-tag>=0.6.5
mkdocs-mermaid2-plugin>=1.1.1
mkdocs-glightbox>=0.3.4
mkdocs-tags-plugin>=0.6.1
mkdocs-social-plugin>=0.1.1
mkdocs-mkdocstrings-plugin>=0.10.0
mkdocs-mike>=1.1.1
mkdocs-material-extensions>=1.3
